@media (prefers-color-scheme: dark) {
    :root {
      --primary: #459af0 !important;
    }

    body{
        background: #1a1a1a;
    }

    .header-container {
        background:  top center/cover no-repeat fixed;
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.8)), url(./assets/img/hero-dark.webp) ;
      }

    .header-container > div{
        box-shadow: none;
      }
  }

